{{ define "main" }}
  {{ $featured_image := partial "func/GetFeaturedImage.html" . }}
  <article class="content" itemscope itemtype="https://schema.org/NewsArticle">
        <section class="post-full-content">
            <h1 class="content-title" itemprop="headline">{{ .Title | safeHTML }}</h1>
            {{ if $featured_image }}
              <meta itemprop="image" content="{{ $featured_image }}" />
            {{ end }}
            <div class="post-detail">
              <span class="cas-i-clock"></span>&nbsp;&nbsp;<span class="date" itemprop="datePublished">{{ .Date.Format .Site.Params.dateFormat }}</span>&nbsp;&nbsp;&nbsp;
              {{ partial "author-with-link.html" (dict "taxonomy" "authors" "page" .) }}&nbsp;
              {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
              {{ partial "sharing-buttons.html" . }}
            </div>
            <div class="content-body">
                {{ .Content | safeHTML }}
            </div>
        </section>
    </article>
    {{ partial "disqus.html" . }}
{{ end }}
