@use '../../icomoon/variables/variables';
@use "../../settings";
@use "../../utils/base";

.button {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: settings.$button-radius;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    background-color: settings.$button-background;
    color: settings.$button-color;
    padding: settings.$button-padding;
    position: relative;
    transition: settings.$button-transition;
    text-shadow: settings.$global-text-shadow;
    border: 2px solid settings.$button-background;
    &:before {
        font-family:"TI-Icons";
        content: variables.$cas-i-logo-icon;
        color: settings.$button-background-hover;
        font-size: base.rem-calc(22);
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 15%;
        width: 100%;
        height: 100%;
        text-align: center;
        -webkit-transition: settings.$button-transition;
        -moz-transition: settings.$button-transition;
        transition: settings.$button-transition;
        text-shadow: none;
        outline-color: transparent;
    }
    &:hover, &:focus, &:active {
        outline-color: transparent;
        background-color: settings.$button-background-hover;
        color: settings.$button-color;
        border-color: settings.$button-background-hover;
        &:before {
            transform: translateY(-31px);
            opacity: 1;
        }
    }
    &:focus {
        box-shadow: inset 0 0 0 2px settings.$white;
    }
    &.hollow {
        -webkit-transition: settings.$button-hollow-transition;
        -moz-transition: settings.$button-hollow-transition;
        transition: settings.$button-hollow-transition;
        border: 2px solid;
        background-color: transparent;
        color: settings.$button-background;
        text-shadow: none;
        &:before {
            color: settings.$button-background;
        }
        &:hover, &:active, &:focus {
            color: settings.$button-hollow-hover-color;
            border-color: settings.$button-hollow-hover-color;
            &:before {
                color: settings.$button-hollow-hover-color;
            }
        }
        &:focus {
            box-shadow: none;
            background-color: rgba(settings.$button-hollow-hover-color, 0.15);
        }
    }
}

a.button {
    background-image: none;
}
