@import '../../icomoon/variables/variables';

.button {
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: $button-radius;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    background-color: $button-background;
    color: $button-color;
    padding: $button-padding;
    position: relative;
    transition: $button-transition;
    text-shadow: $global-text-shadow;
    border: 2px solid $button-background;
    &:before {
        font-family:"TI-Icons";
        content: $cas-i-logo-icon;
        color: $button-background-hover;
        font-size: rem-calc(22);
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 15%;
        width: 100%;
        height: 100%;
        text-align: center;
        -webkit-transition: $button-transition;
        -moz-transition: $button-transition;
        transition: $button-transition;
        text-shadow: none;
        outline-color: transparent;
    }
    &:hover, &:focus, &:active {
        outline-color: transparent;
        background-color: $button-background-hover;
        color: $button-color;
        border-color: $button-background-hover;
        &:before {
            transform: translateY(-31px);
            opacity: 1;
        }
    }
    &:focus {
        box-shadow: inset 0 0 0 2px $white;
    }
    &.hollow {
        -webkit-transition: $button-hollow-transition;
        -moz-transition: $button-hollow-transition;
        transition: $button-hollow-transition;
        border: 2px solid;
        background-color: transparent;
        color: $button-background;
        text-shadow: none;
        &:before {
            color: $button-background;
        }
        &:hover, &:active, &:focus {
            color: $button-hollow-hover-color;
            border-color: $button-hollow-hover-color;
            &:before {
                color: $button-hollow-hover-color;
            }
        }
        &:focus {
            box-shadow: none;
            background-color: rgba($button-hollow-hover-color, 0.15);
        }
    }
}

a.button {
    background-image: none;
}
