@use "sass:color";
@use '../../icomoon/variables/variables';
@use "../../settings";
@use "../../utils/base";
@use "../../utils/colors";

.search-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    min-width: base.rem-calc(300);
    &:before {
        position: absolute;
        font-family:"TI-Icons";
        content: variables.$cas-i-search;
        color: settings.$ui-gray;
        width: base.rem-calc(20);
        z-index: 10;
        top: 50%;
        margin-top: base.rem-calc(-10);
        left: base.rem-calc(17);
    }
    form {
        width: 100%;
    }
    .search-input {
        position: relative;
        width: 100%;
        background: settings.$white;
        padding: base.rem-calc(7 0 7 50);
        height: base.rem-calc(45);
        border: settings.$input-border;
        box-shadow: settings.$input-shadow;
        border-radius: settings.$global-radius;
        &:focus {
            border: settings.$input-border-focus;
            box-shadow: settings.$input-shadow-focus;
        }
        &::placeholder {
            color: color.adjust(settings.$ui-gray, $lightness: -10%);
        }
    }

    .clear-btn {
        cursor: pointer;
        display: none;
        top: 50%;
        margin-top: base.rem-calc(-9);
        position: absolute;
        font-weight: 700;
        color: settings.$ui-gray;
        font-size: base.rem-calc(19);
        line-height: 1;
        right: 1rem;
        z-index: 10;
        &:hover {
            color: colors.get-color('magenta');
        }
    }

    .search-btn {
        display: none;
    }
    .result {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: base.rem-calc(390);
        background: settings.$white;
        border: settings.$global-border;
        padding: 1rem 0.5rem;
        .res {
            line-height: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid color.adjust(colors.get-color('vanilla'), $lightness: -5%);
            cursor: pointer;
            &.all {
                font-weight: 600;
                font-style: italic;
                border-top: 2px dotted color.adjust(colors.get-color('vanilla'), $lightness: -5%);
                a {
                    color: colors.get-color('primary');
                    &:hover {
                        background: colors.get-color('primary');
                        color: settings.$white;
                    }
                }
            }
            a {
                display: block;
                color: settings.$dark-gray;
                font-weight: 400;
                border: 0;
                width: 100%;
                padding: 0.75rem 0.5rem;
                &:hover {
                    background: colors.get-color('vanilla');
                }
            }
            &:nth-last-of-type(-n+2) {
                border-bottom: 0;
            }
        }
    }
    .err-msg {
        display: none;
        color: colors.get-color('red');
        margin-left: 3rem;
        margin-top: base.rem-calc(5);
    }
}
