{{ $href := .Permalink }}
{{ $isTerm := (eq .Kind "term")}}
{{ if or .IsHome .IsSection $isTerm }}
  {{ $paginator := slice }}
  {{ if .IsHome }}
    {{ $paginator = .Paginate (where .Site.RegularPages "Section" "blog") }}
  {{ else }}
    {{ $paginator = .Paginate .Pages }}
  {{ end }}
  {{ with $paginator }}
    {{ if gt .PageNumber 1 }}
      {{if $isTerm }}
        {{ $href = printf "%s/page/%d.html" (strings.TrimSuffix ".html" $.Permalink) .PageNumber }}
      {{ else }}
        {{ $href = printf "%sposts/page/%d/index.html" site.BaseURL .PageNumber }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
<link rel="canonical" href="{{ $href }}">
