@use '../components/search';
@use "../../settings";
@use "../../utils/base";
@use "../../utils/breakpoints";
@use "../../utils/colors";

.header-wrapper {
    background: settings.$white;
    border-bottom: 5px solid colors.get-color('light-green');
}
.logo-wrapper {
    margin-top: base.rem-calc(5);
    a {
        display: inline-block;
        line-height: 1;
        border: 0;
    }
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.search-wrapper {
    flex: 0 0 100%;
    margin: 1rem 0;
}
.nav-wrapper {
    .nav {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        li {
            margin: 0 1rem;
            cursor: pointer;
            font-size: base.rem-calc(17);
            padding: 0.25rem 0.5rem;
            font-weight: 600;
            border: 0;
            a {
                border: 0;
                color: settings.$dark-gray;
                text-transform: uppercase;
                font-weight: 300;
                &:hover {
                    color: colors.get-color('primary');
                    border-radius: settings.$global-radius;
                }
            }
        }
    }
}

@media screen and (breakpoints.create-breakpoint(medium)) {
    .header {
        justify-content: flex-start;
    }
    .search-wrapper {
        flex: 0 0 75%;
        margin-left: 2rem;
    }
    .nav-wrapper {
        flex: 0 0 100%;
    }
}

@media screen and (breakpoints.create-breakpoint(large)) {
    .header {
        justify-content: space-between;
        padding: 0 1rem;
    }
    .search-wrapper, .nav-wrapper {
        flex: 1 1 0px;
    }
    .nav-wrapper {
        .nav {
            justify-content: flex-end;
        }
    }
}

@media screen and (breakpoints.create-breakpoint(xlarge)) {
    .header {
        padding: 0;
    }
}