@import '../components/search';

.header-wrapper {
    background: $white;
    border-bottom: 5px solid get-color('light-green');
}
.logo-wrapper {
    margin-top: rem-calc(5);
    a {
        display: inline-block;
        line-height: 1;
        border: 0;
    }
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.search-wrapper {
    flex: 0 0 100%;
    margin: 1rem 0;
}
.nav-wrapper {
    .nav {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        li {
            margin: 0 1rem;
            cursor: pointer;
            font-size: rem-calc(17);
            padding: 0.25rem 0.5rem;
            font-weight: 600;
            border: 0;
            a {
                border: 0;
                color: $dark-gray;
                text-transform: uppercase;
                font-weight: 300;
                &:hover {
                    color: get-color('primary');
                    border-radius: $global-radius;
                }
            }
        }
    }
}

@media screen and #{breakpoint(medium)} {
    .header {
        justify-content: flex-start;
    }
    .search-wrapper {
        flex: 0 0 75%;
        margin-left: 2rem;
    }
    .nav-wrapper {
        flex: 0 0 100%;
    }
}

@media screen and #{breakpoint(large)} {
    .header {
        justify-content: space-between;
        padding: 0 rem 1rem;
    }
    .search-wrapper, .nav-wrapper {
        flex: 1 1 0px;
    }
    .nav-wrapper {
        .nav {
            justify-content: flex-end;
        }
    }
}

@media screen and #{breakpoint(xlarge)} {
    .header {
        padding: 0;
    }
}