@use "sass:meta";
@use '../settings';
@use '../utils/base';
@use '../utils/breakpoints';

.content {
    background: settings.$white;
    border: settings.$global-border;
    padding: 2rem 3rem;

}

.post-detail {
    margin: 0rem 0 2rem;
    padding: 0.5rem 0 0.75rem;
    border-top: settings.$global-border;
    border-bottom: settings.$global-border;
    color: settings.$medium-gray;
    font-size: base.rem-calc(15);
    a {
        color: settings.$medium-gray;
        font-weight: normal;
    }
    .author {
        display: inline-block;
        margin-left: 1rem;
    }
}
.content-body {
    margin-top: 1.5rem;
    h1 {
        margin-top: 1rem;
    }
    h2, h3 {
        margin-top: 2rem;
    }
    ul, ol {
        margin-bottom: 2rem;
        padding-left: 0.5rem;
    }
    img {
        margin: 0 auto 2rem;
    }
    li {
        p {
            margin-bottom: 0;
        }
    }
    ul {
        li {
            list-style-type: disc;
        }
    }
    ol, ul {
        margin-left: 1rem;
        li {
            margin: base.rem-calc(8 0);
        }
    }
    ol {
        li {
            list-style-type: decimal;
        }
    }
    a {
        &:has(img) {
            background-size: 0;
        }
    }
    table {
        border-collapse: collapse;
        margin: 2rem 0;
        th,td{
            padding: 1rem;
            border: settings.$global-border;
        }
        th {
            background: settings.$off-white;
            font-weight: 700;
        }
    }
}

@include meta.load-css('../base/block/sharing-buttons');

@media screen and (breakpoints.create-breakpoint(large)) {
    .content {
        padding: 3rem;

    }
}