@import '../settings';
@import '../base/block/card';
@import '../base/block/top-post';


.top-banner {
    margin-bottom: 2rem;
}
.home-title {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
    .main-title {
        font-weight: 600;
    }
}