@use '../settings';
@use '../base/block/card';


.pagination {
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1% auto;
    .page-item {
        &.active {
            a {
                background-color: #559a13;
                color: #fff;
            }
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            a {
                transition: none;
                &:hover {
                    background-size: 0;
                }
            }
        }
        padding: 1rem;
        a {
            padding: 0.25rem;
        }
    }
}